<template>
    <div style="padding: 20px">
        <list-actors :loading="loading" class="list" :actors="actorList"/>
    </div>
</template>

<script lang="ts">
import ListActors from "./components/Actor/List/ListActors.vue";
import {Options, Vue} from "vue-class-component";
import {ActionTypes} from "../store/actors/types/action-types";

@Options({
    name: "app",
    components: { ListActors },
})
export default class App extends Vue {
    mounted() {
        this.$store.dispatch(ActionTypes.SET_ACTORS)
    }
    get loading() {
        return this.$store.getters.loading
    }
    get actorList() {
        return this.$store.getters.actors
    }
}
</script>
