<template>
    <v-dialog :model-value="dialogDelete" max-width="500px">
        <v-card>
            <v-card-title>
                Suppression
            </v-card-title>
            <v-card-item>
                Etes-vous sur de vouloir supprimer cette célébrité ?
            </v-card-item>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="$emit('close-delete')">
                    Non
                </v-btn>
                <v-btn
                    color="blue-darken-1"
                    variant="flat"
                    @click="$emit('delete-item-confirm')">
                    Oui
                </v-btn>
                <v-spacer></v-spacer>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>
<script lang="ts">
import {Vue, Options} from "vue-class-component";

@Options({
    name: "delete-dialog",
    props: ['dialogDelete'],
    emits: ['close-delete', 'delete-item-confirm'],
})

export default class DeleteDialog extends Vue {
}
</script>
