<template>
    <v-dialog persistent :model-value="dialog" max-width="900px">
        <v-card>
            <v-card-title>
                <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>
            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="6">
                            <v-avatar size="200" color="surface-variant">
                                <v-img v-if="fileUrl !== ''"
                                       :src="fileUrl"
                                       style="object-fit: cover"
                                       alt="John"
                                ></v-img>
                                <div v-else>
                                    <span style="font-size: xx-large">?</span>
                                </div>
                            </v-avatar>
                        </v-col>
                        <v-col cols="6" align-self="end">
                            <v-file-input
                                label="Ajouter une photo"
                                variant="filled"
                                clearable
                                accept="image/png, image/jpeg, image/bmp, images/webp"
                                :model-value="fileToUpload"
                                @update:modelValue="onChangePicture"
                                single-line
                                @click:clear="onDeletePicture"
                                prepend-icon="mdi-camera"
                            ></v-file-input>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                v-model="actorToUpdate.last_name"
                                label="Nom"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                v-model="actorToUpdate.first_name"
                                label="Prénom"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12">
                            <v-textarea
                                v-model="actorToUpdate.description"
                                label="Description"
                            ></v-textarea>
                        </v-col>
                    </v-row>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" variant="text" @click="$emit('close')">
                    Annuler
                </v-btn>
                <v-btn color="blue-darken-1" variant="flat" @click="save" :disabled="disabledValidation">
                    Sauvegarder
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</template>

<script lang="ts">
import {Vue, Options} from 'vue-class-component';
import {Actor} from "../../../../model/Actor";

@Options({
    name: "edit-dialog",
    props: ['dialog', 'actor', 'formTitle'],
    emits: ['new-item', 'save', 'close', 'update:actor'],
    watch: {
        dialog(newValue, oldValue) {
            if (!oldValue && newValue) {
                this.actorToUpdate = {...this.actor}
                this.editedFile = false
            }
        }
    }
})
export default class EditDialog extends Vue {
    actorToUpdate: Actor = new Actor()
    editedFile: Boolean = false
    fileToUpload?: [File]|null = null

    get fileUrl() {
        if (!this.editedFile && this.actorToUpdate?.picture) {
            return this.actorToUpdate.picture
        } else if ( this.fileToUpload && this.fileToUpload?.length > 0) {
            return URL.createObjectURL(this.fileToUpload[0])
        }
        return ''
    }

    get disabledValidation() {
        return !this.actorToUpdate.first_name || !this.actorToUpdate.last_name
    }
    onChangePicture(value: [File]) {
        this.fileToUpload = value
        this.editedFile = true
    }
    onDeletePicture() {
        this.actorToUpdate.picture = undefined
    }
    save() {
        this.$emit('save', {actor : this.actorToUpdate, files: this.fileToUpload})
    }

}

</script>
