<template>
    <div>
        <v-card>
            <v-data-table
                :loading="loading"
                loading-text="Synchronisation des célébrités"
                :search="search"
                :items="actors"
                height="87vh"
                fixed-header
                :headers="header"
                items-per-page-text="Célébrité par page"
            >
                <template v-slot:loading>
                    <v-skeleton-loader type="table-row@10"></v-skeleton-loader>
                </template>
                <template v-slot:top>
                    <v-toolbar flat>
                        <div class="toolbar-component">
                            <v-toolbar-title>Gestion des célébrités</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-text-field
                                class="mb-2"
                                v-model="search"
                                label="Rechercher"
                                density="compact"
                                prepend-inner-icon="mdi-magnify"
                                single-line
                                flat
                                variant="solo"
                                hide-details
                            />
                            <v-btn color="primary" variant="flat" class="mb-2" @click="editOrNewItem">
                                <v-icon size="small" class="me-2" color="white">
                                    mdi-plus
                                </v-icon>
                                Nouvelle célébrité
                            </v-btn>
                        </div>
                    </v-toolbar>
                </template>
                <template v-slot:item.actions="{ item }">
                    <v-icon size="small" class="me-2" color="green" @click="() => editOrNewItem(item)">
                        mdi-pencil
                    </v-icon>
                    <v-icon size="small" color="red" @click="() => deleteItem(item)"> mdi-delete</v-icon>
                </template>
                <template v-slot:item.picture="{ item }">
                    <v-avatar size="50" color="surface-variant">
                        <v-img v-if="item.picture !== '' && item.picture !== null"
                               :src="item.picture"
                               style="object-fit: cover"
                               alt="John"
                        ></v-img>
                        <div v-else>
                            <span style="font-size: xx-large">?</span>
                        </div>
                    </v-avatar>
                </template>
                <template v-slot:no-data>
                    <v-btn color="primary" @click="refresh">Rafraichir</v-btn>
                </template>
            </v-data-table>
        </v-card>
        <edit-dialog
            :actor="actor"
            :dialog="dialog"
            :form-title="formTitle"
            @new-item="editOrNewItem"
            @save="save"
            @close="close"
        />
        <delete-dialog
            :dialog-delete="dialogDelete"
            @close-delete="closeDelete"
            @delete-item-confirm="deleteItemConfirm"/>
    </div>
</template>

<script lang="ts">
import {Actor} from "../../../../model/Actor";
import EditDialog from "../dialogs/EditDialog.vue";
import {Options, Vue} from "vue-class-component";
import DeleteDialog from "../dialogs/DeleteDialog.vue";
import {ActionTypes} from "../../../../store/actors/types/action-types";
import axios from "axios";

@Options({
    name: "ListActors",
    props: ['actors', 'loading'],
    components: {DeleteDialog, EditDialog}
})
export default class ListActors extends Vue {
    dialog: Boolean = false
    actor: Actor = new Actor()
    search: String | null = null
    dialogDelete: Boolean = false
    header: Array<{ title: string, value: string, sortable: Boolean }> = [
        {title: 'Image', value: 'picture', sortable: false},
        {title: 'Nom', value: 'last_name', sortable: true},
        {title: 'Prénom', value: 'first_name', sortable: true},
        {title: 'Action', value: 'actions', sortable: false}
    ]

    get formTitle(): string {
        return this.isNew ? 'Ajout d\'une célébrité' : 'Edition : ' + this.actor.last_name + ' ' + this.actor.first_name
    }

    get isNew(): Boolean {
        return this.actor?.id === undefined
    }

    editOrNewItem(item?: Actor): void {
        this.actor = item ?? new Actor()
        this.dialog = true
    }

    deleteItem(item: Actor): void {
        this.actor = item
        this.dialogDelete = true
    }

    deleteItemConfirm(): void {
        this.$store.dispatch(ActionTypes.DELETE_ACTOR, this.actor.id)
        this.closeDelete()
    }

    close(): void {
        this.dialog = false
    }

    closeDelete(): void {
        this.dialogDelete = false
    }

    async save(object : { actor: Actor, files: [File] }) {
        if (object.files?.length > 0) {
            const data = await axios.postForm('/actor/upload', {file: object.files[0]})
            object.actor.picture = data.data.path
            console.log(object.actor)
        }
        if (this.actor?.id) {
            object.actor
            await this.$store.dispatch(ActionTypes.UPDATE_ACTOR, object.actor)
        } else {
            await this.$store.dispatch(ActionTypes.NEW_ACTOR, object.actor)
        }
        this.dialog = false
    }

    refresh(): void {
        this.$store.dispatch(ActionTypes.SET_ACTORS)
    }
}
</script>
<style lang="scss">
.toolbar-component {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px
}
</style>
